.use_heading{
  font-size: 3em;
  /* text-align: center; */
  margin: 4%;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.p {
  margin-block-start: var(--metric-box-spacing);
}
.use-container {
  display: flex;
  flex-direction: column;
}
.use-media {
  margin: var(--metric-box-spacing);
  padding: var(--metric-box-spacing);
  display: flex;
  align-items: center;
  gap: var(--metric-box-spacing);
  margin:0% 2% 2% 2%;
  padding: 2%;
}

.use-media-image-1 img, .use-media-image-2 img{
  width: 200%;
  height: 100%;
}

.use-media-image-1 {
  flex: 1;
  margin-right: 20%;

}
.use-media-content-1 {
  flex: 3;
}
.use-media-image-2 {
  flex: 1;
}
.use-media-content-2 {
  flex: 3;
  margin-left: 22%;
}

@media (max-width: 600px) {
  .use-media {
    flex-direction: column;
    background-color: whitesmoke;
  }
  
  .use-media-image-1 img, .use-media-image-2 img{
    width: 100%;
    height: auto;
  }
  .use-media-image-1 {
    margin-right: 0;
  }
  .use-media-content-2 {
    margin-left: 0;  
  }
  
}

